* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

@font-face {
  font-family: Roboto; 
  src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 150px;
}

.logo {
    color: white;
}

.header-links {
    display: flex;
    gap: 24px;
    color: gray;
    font-size: 18px;
}

.hero-main-content {
    display: flex;
    gap: 32px;
}

.hero-main-text-content {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-main-text-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900
}

.hero-main-text-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text-content button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    align-self: flex-start;
    border: none;
    border-radius: 6px;
}

.hero-image {
   flex: 1 1 55%;
   height: 250px;
}

.information-section {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.information-section-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section-content h2 {
    padding: 48px 0;
}

.information-images {
    display: flex;
    
}

.information-image-container img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 4px solid #3882F6;
    margin-bottom: 8px;
}

.quote-section {
    background-color: #E5E7EB;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.quote-section-content {
    width: 1000px;
}

.quote-section-content p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}